<form #form="ngForm" (ngSubmit)="submitForm()">
    <h1>Create a Post</h1>
    <input type="text" name="title" required minlength="8" maxlength="32" placeholder="Enter post title"
        [(ngModel)]="title" #postTitle="ngModel">
    <br>
    <textarea name="body" name="body" required minlength="16" placeholder="Enter post body" cols="30" rows="10"
        [(ngModel)]="body"></textarea>
    <br>
    <input type="submit" value="Submit" [disabled]="form.invalid" class="btn btn-primary">
</form>

<div *ngIf="postTitle.invalid && postTitle.dirty">
    <div *ngIf="postTitle.errors?.['required']">
        Please provide a title for your blog post.
    </div>
    <div *ngIf="postTitle.errors?.['minlength']">
        The title of the post must contain at least 8 characters.
    </div>
</div>